<div fxLayout="row">
    <div fxFlex="60">
        <app-shopping-list-edit></app-shopping-list-edit>
        <hr>
        <mat-list role="list">
            <mat-list-item
                role="listitem"
                *ngFor="let ingredient of (shoppingListState | async).ingredients; let i = index"
                class="ingredient-list-item">
                <a href="#" (click)="onSelectIngredient($event, i)">
                    {{ ingredient?.name }} ({{ ingredient?.amount }})
                </a>
            </mat-list-item>
        </mat-list>
    </div>
</div>