<div fxLayout="row">
    <div fxFlex="60">
        <app-shopping-list-edit></app-shopping-list-edit>
        <hr>
        <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let ingredient of ingredients;let id = index;" class="ingredient-list-item">
                <a href="#" (click)="onSelectIngredient($event, id)">
                    {{ ingredient?.name }} ({{ ingredient?.amount }})
                </a>
            </mat-list-item>
        </mat-list>
    </div>
</div>