.example-spacer {
    flex: 1 1 auto;
}

mat-sidenav-content {
    padding-top: 15px;
    overflow-y: hidden;
}

a[mat-button].active {
    background-color: rgba(0,0,0,.12);
}

.home_link {
    display: inline-block;
}

