<mat-list-item>
    <div fxFlex="row" fxLayoutAlign="space-between" class="list_item" routerLinkActive="active">
        <div fxFlex.gt-xs="70">
            <h4><a [routerLink]="[recipe._id]">{{ recipe.name }}</a></h4>
            <p><a [routerLink]="[recipe._id]">{{ recipe.description }}</a></p>
        </div>
        <div fxFlex.gt-xs="25">
            <a [routerLink]="[recipe._id]"><img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="recipe-image"></a>
        </div>
    </div>
</mat-list-item>
