.recipe-image {
    height: 60px;
    width: 100%;
    object-fit: cover;
}

.list_item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

.list_item h4 {
    margin-bottom: 0;
    margin-top: 10px;
}

.list_item p {
    margin-bottom: 0;
}

.list_item a {
    color: #000;
    text-decoration: none;
}

.list_item.active {
    background-color: #5972ff;
}

.list_item.active * {
    color: #fff;
}

mat-card {
    margin-bottom: 15px;
}

mat-card * {
    color: initial;
    text-decoration: none;
}